/*-------------------------------------------------------------------------------------
  Styles for kendostudio.com, by @marciobarrios

   _       __     __                                 __          __     __
  | |     / /__  / /________  ____ ___  ___     ____/ /_  ______/ /__  / /
  | | /| / / _ \/ / ___/ __ \/ __ `__ \/ _ \   / __  / / / / __  / _ \/ /
  | |/ |/ /  __/ / /__/ /_/ / / / / / /  __/  / /_/ / /_/ / /_/ /  __/_/
  |__/|__/\___/_/\___/\____/_/ /_/ /_/\___/   \__,_/\__,_/\__,_/\___(_)


  These styles are not minimized because we all love to learn and I inspected
  lots of CSS from many sites, so it's fair to let you steal/copy/learn,
  in fact I commented and clarified this CSS to help you :)

  I'm using a mobile first approach, so I style a very basic version of the site
  and with media queries I add styles to improve the experience for bigger screens.

  This CSS supports moderns browsers and IE from version 9.

  Check kendo.com/humans.txt for contact info
  ------------------------------------------------------------------------------------- */

/*
  Super minimal Reset, if you need one for a big project,
  use normalize.css (http://cl.ly/K2QO)

  If you are wondering why to use "box-sizing" property, read this: http://cl.ly/K1kT
*/

* { padding: 0; margin: 0; box-sizing: border-box; }
h1, h2, h3, h4 { font-weight: normal; }
a { text-decoration: none; }





/*
  Fonts
 */

@font-face {
  font-family: 'Maison Neue Book';
  src: url('../fonts/MaisonNeueBook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeueBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeueBook.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeueBook.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeueBook.svg#cfe9c4d435b13936a17ea5090528f1ab') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Maison Neue Demi';
  src: url('../fonts/MaisonNeueDemi.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MaisonNeueDemi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MaisonNeueDemi.woff') format('woff'), /* Modern Browsers */
       url('../fonts/MaisonNeueDemi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MaisonNeueDemi.svg#83e42244382055676967b9123edd6fa4') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'MinionPro-It';
  src: url('../fonts/MinionPro-It.eot');
  src: url('../fonts/MinionPro-It.eot?') format('eot'),
       url('../fonts/MinionPro-It.otf')  format('opentype'),
       url('../fonts/MinionPro-It.woff') format('woff'),
       url('../fonts/MinionPro-It.ttf')  format('truetype'),
       url('../fonts/MinionPro-It.svg#MinionPro-It') format('svg');

  font-style:   normal;
  font-weight:  400;
}






/*
  General styles

  1. I use webfonts created with http://fontprep.com/
  2. Controls how the browser renders text (more info: http://cl.ly/K1pT)
  3. Prevents zoom on mobile browsers, use it carefully (http://cl.ly/K1to, http://cl.ly/K9Xo)
 */

html {
  font: 62.5%/1.4 "Maison Neue Book", helvetica, sans-serif; /* 1 */
  -webkit-font-smoothing: antialiased; /* 2 */
  -webkit-text-size-adjust: 100%; /* 3 */
  color: rgba(43,46,46,.5);
}
  /* I set both font-size in px to be the fallback of rem units.
     Read more about sizing fonts with rems: http://cl.ly/Wufp */
  body {
    font-size: 20px;
    font-size: 2rem;
  }

  /* 1. This is needed to be able to set height: 100% to an element */
  html,
  body {
    height: 100%; /* 1 */
  }

  h1, h2, h3, h4 { font-family: "Maison Neue Demi", sans-serif; }

  header {
    background: rgb(27,31,38);
    color: rgba(255,255,255,.5);
    height: 100%;
    padding: 2em 1.2em;
  }
    /* 1-2-3. A clever technique to vertical align elements, using top and transform. */
    .header-inner {
      position: relative; /* 1 */
      top: 50%; /* 2 */
      transform: translateY(-50%); /* 3 */
      max-width: 45rem;
    }
      h1 {
        font-size: 40px;
        font-size: 4rem;
        margin-bottom: .7em;
        color: white;
      }
        h1 em {
          font-family: "MinionPro-It", serif;
          font-style: normal;
          font-size: 24px;
          font-size: 2.4rem;
          color: rgba(255,255,255,.5);
        }

    h2 {
      color: rgb(43,46,46);
      line-height: 1.1;
      margin-bottom: .5em;
      font-size: 40px;
      font-size: 4rem;
    }

  section {
    padding: 5em 1.2em;
    overflow: hidden; /* because of bottom lines in blog section */
  }
    .section-inner {
      max-width: 60rem;
    }


  footer {
    padding: 1em;
    margin-top: 5em;
    border-top: 1px solid rgba(26,32,33,.1);
  }
    .social-links {
      margin-left: -1em;
    }
      .social-links > li {
        float: left;
        margin-left: 1em;
        opacity: .25;
      }


  /* Form elements */
  /* 1. This property tells the webkit browsers to reset the visual style */
  input, textarea, select, button {
    -webkit-appearance: none; /* 1 */
    font-family: "Maison Neue Book", helvetica, sans-serif;
    padding: 1.5em 1em;
    border: none;
    font-size: 18px;
    font-size: 1.8rem;
  }
  input, textarea, select {
    background: rgb(223,225,227);
    color: rgb(27,31,38);
    border-radius: 0;
  }
  textarea {
    line-height: 1.5;
  }
  .select-wrapper {
    position: relative;
  }
    .select-wrapper select {
      width: 100%;
    }
    /* 1. This is a way to center vertically in CSS, read more about this
          topic: http://cl.ly/XMh5, http://cl.ly/XMef */
    .arrow-select {
      position: absolute;
      right: 2em;
      top: 50%;
      transform: translateY(-50%); /* 1 */
    }

  button {
    position: relative;
    display: block;
    width: 100%;
    color: white;
    background: rgb(27,31,38);
    padding: 1.3em;
    cursor: pointer;
  }
    .spinner {
      display: none;
    }


  /* Placeholder styles */
  ::-webkit-input-placeholder {
    color: rgba(27,31,38,.7);
  }

  :-moz-placeholder { /* Firefox 18- */
    color: rgba(27,31,38,.7);
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(27,31,38,.7);
  }

  :-ms-input-placeholder {
    color: rgba(27,31,38,.7);
  }


  /* Some overrides inside dark sections */
  .home-dark {
    color: rgba(255,255,255,.5);
  }
    .home-dark h2 {
      color: white;
    }


  /* Button */
  .bt {
    position: relative;
    display: block;
    font-size: 18px;
    font-size: 1.8rem;
    padding: .85em 1.2em;
    color: rgb(38,41,41);
    border: 1px solid rgba(38,41,41,.1);
    transition: .25s;
    margin-top: 2em;
  }
  .bt:hover {
    border-color: rgba(38,41,41,.3);
  }
  .bt-light {
    color: white;
    border-color: rgba(255,255,255,.1);
  }
  .bt-light:hover {
    border-color: rgba(255,255,255,.3);
  }
    .bt i {
      position: absolute;
      right: 2em;
      top: 50%;
      transform: translateY(-50%);
      transition: .25s;
    }





/*
  Home

  Different sections of homepage
 */

/* Work */
.home-work {}

  .work-collage {
      list-style: none;
      margin-top: 3em;
    }
    .work-collage li {
      margin: 1em 0 0;
    }
    .work-collage img {
      width: 530px;
      height: 530px;
    }


/* Process */
.home-process {
  background: rgb(72,78,89);
  font-size: 20px;
  overflow: hidden;
}
  .home-process-steps {
    position: relative;
    font-size: 2rem;
    margin-left: 4em;
    max-width: 90rem;
  }
  .home-process-steps:before {
    content: "";
    position: absolute;
    width: 1px;
    top: .5em;
    left: -2.5em;
    bottom: -6em;
    background: rgba(255,255,255,.1);
  }
    .home-process-step {
      margin-top: 4em;
    }
    /* I use pseudoelements here to generate the different circles */
    .home-process-step:before {
      content: "";
      position: absolute;
      left: -2.77em;
      width: 10px;
      height: 10px;
      margin-top: .4em;
      border-radius: 50%;
      background: rgb(72,78,89);
      border: 1px solid rgba(255,255,255,.1);
    }
    .home-process-step:nth-child(2):before {
      box-shadow: 0 0 0 10px rgba(255,255,255,.04);
    }
    .home-process-step:nth-child(3):before {
      box-shadow: 0 0 0 15px rgba(255,255,255,.04);
    }
    .home-process-step:nth-child(4):before {
      box-shadow: 0 0 0 20px rgba(255,255,255,.04);
    }
    .home-process-steps h3 {
      color: white;
    }
    .home-process-steps ul {
      margin-top: 2em;
    }


/* Blog */
.home-blog {
  background: rgb(27,31,38);
}
  .home-blog ul  {
    margin-top: 4em;
  }
  .home-blog-entry {
    position: relative;
    padding-bottom: 3em;
    margin-bottom: 3em;
  }

  .home-blog-entry:after {
    content: "";
    position: absolute;
    right: -100em;
    bottom: 0;
    left: 0;
    height: 1px;
    background: rgba(255,255,255,.05);
  }

  .home-blog-entry-title {
    display: block;
    margin: 2em 0 1em;
    color: white;
  }


/* Form contact */
.contact-form {
  margin-top: 4em;
}
  .contact-form-half,
  .contact-form-all {
    float: left;
    width: 100%;
    margin-top: 4%;
  }
  .contact-form textarea {
    margin-bottom: 4%;
  }
  .contact-form-availability {
    margin: .5em 0 5em;
    font-size: 18px;
    font-size: 1.8rem;
  }
    .contact-form-availability strong {
      color: rgb(42,46,46);
    }

.shapes {
  display: none;
}




/*
  Utilities

  Generic classes to reuse across the site
 */

.unstyled {
  list-style: none;
}
.block {
  display: block;
}
.hide {
  display: none !important;
}
.left {
  float: left;
}
.right {
  float: right;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}










/*
  Media Queries

  The idea of a mobile first approach is to add styles when the screen is
  getting bigger, so we don't overload the small devices with unused CSS.

  I only target 2 breakpoints:
  one for middle screens and up (769px) and one for large screens and up (1024px)
 */

@media (min-width: 769px) {
  body {
    font-size: 24px;
    font-size: 2.4rem;
  }

  input, textarea, select {
    font-size: 20px;
    font-size: 2rem;
  }

  button {
    float: right;
    width: auto;
    padding: 1.5em;
    width: 264px;
    width: 26.4rem;
  }

  header,
  section,
  footer {
    padding-left: 2em;
    padding-right: 2em;
  }

  header {
    padding: 3em;
  }
    h1 {
      font-size: 72px;
      font-size: 7.2rem;
      margin-bottom: .2em;
    }
      h1 em {
        font-size: 35px;
        font-size: 3.5rem;
      }
    h2 {
      font-size: 72px;
      font-size: 7.2rem;
      margin-bottom: .3em;
    }

  .home-work .section-inner {
    max-width: 75rem;
  }

  .home-contact .section-inner {
    max-width: 55rem;
  }

  .bt {
    display: inline-block;
    font-size: 20px;
    font-size: 2rem;
    padding-right: 6em;
    width: 25rem;
  }

  /* Home process */
  .home-process {
    font-size: 24px;
    font-size: 2.4rem;
  }
    .home-process-steps {
      margin: 4em 0 0;
    }
    .home-process-steps:before {
      top: 4em;
      left: 0;
      right: -100em;
      width: auto;
      height: 1px;
    }
    .home-process-steps ul {
      margin-top: 5em;
    }
    .home-process-step {
      position: relative;
      float: left;
      width: 24%;
      margin: 0;
    }
    .home-process-step + .home-process-step {
      margin-left: 1%;
    }
    .home-process-step:before {
      left: 0;
      top: 3.3em;
    }

  /* Form contact */
  .contact-form {
    position: relative;
    margin-top: 5em;
  }
  .contact-form-half {
    width: 49%;
    margin-top: 2%;
  }
  .contact-form-half + .contact-form-half {
    margin-left: 2%;
  }
  .contact-form-all {
    float: left;
    width: 100%;
    margin-top: 2%;
  }
  .contact-form textarea {
    margin-bottom: 2%;
  }
  .contact-form-availability {
    float: left;
    font-size: 20px;
    font-size: 2rem;
    margin-top: 1.1em;
  }
  .shapes {
    display: block;
    position: absolute;
    top: -5rem;
    left: 85rem;
    opacity: .5;
  }
}





@media (min-width: 1024px) {
  .section-inner {
    max-width: 75rem;
  }
}





/* To show the collage work in 2 lines */
@media (min-width: 1080px) {
  .work-collage {
    margin-left: -1em;
  }
  .work-collage li {
    float: left;
    margin: 1em 0 0 1em;
  }
}




/*
  Spinner animation
 */
 .spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 30px;
  margin: -15px 0 0 -25px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  animation-delay: -1.1s;
}

.spinner .rect3 {
  animation-delay: -1.0s;
}

.spinner .rect4 {
  animation-delay: -0.9s;
}

.spinner .rect5 {
  animation-delay: -0.8s;
}

@keyframes stretchdelay {
  0%, 40%, 100% { transform: scaleY(.4) }
  20%           { transform: scaleY(1)  }
}
